<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjin.org.mapper.UserImportMapper">
    <resultMap type="com.yunjin.org.pojo.entity.UserImport" id="baseMap">
        <result column="account" property="account"/>
        <result column="realname" property="realname"/>
        <result column="identify" property="identify"/>
        <result column="phone" property="phone"/>
        <result column="role" property="role"/>
        <result column="department" property="department"/>
        <result column="region_code" property="regionCode"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
    </resultMap>
</mapper>
