<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjin.org.mapper.OrgComplaintReportMapper">

    <resultMap type="com.yunjin.org.pojo.entity.OrgComplaintReport" id="baseMap">
        <id column="id" property="id"/>
        <result column="complaint_source" property="complaintSource"/>
        <result column="task_source" property="taskSource"/>
        <result column="task_sys" property="taskSys"/>
        <result column="complaint_task" property="complaintTask"/>
        <result column="complaint_form" property="complaintForm"/>
        <result column="complaint_type" property="complaintType"/>
        <result column="reason" property="reason"/>
        <result column="form_dept" property="formDept"/>
        <result column="status" property="status"/>
        <result column="reply" property="reply"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="handle_level" property="handleLevel"/>
        <result column="pictures" property="pictures"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,complaint_source,task_source,
        task_sys,complaint_task,complaint_form,
        complaint_type,reason,form_dept,
        status,reply,is_deleted,
        create_by,create_time,update_by,
        update_time
    </sql>

    <select id="selectFormDept" parameterType="java.util.List" resultType="java.util.HashMap">
        select
            id,
            department_id as departmentId
        from bbt_form_table
        where is_deleted = 0
        <if test="ids != null and ids.size()>0">
            and id in
            <foreach collection="ids" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="selectComplaintInfo" parameterType="java.util.List" resultType="com.yunjin.org.pojo.vo.OrgComplaintReportVO">
        select
            ocr.id,
            ocr.complaint_source,
            ocr.task_source,
            ocr.task_sys,
            yt.task_name as complaintTask,
            bf.table_name as complaintForm,
            bf.table_label as complaintFormName,
            ocr.complaint_type,
            ocr.reason,
            od.dept_name as formDept,
            odd.dept_name as parFormDept,
            ocr.status,
            ocr.reply,
            ocr.create_time
        from org_complaint_report ocr
        left join yj_task yt on (yt.id = ocr.complaint_task and yt.is_deleted = 0)
        left join bbt_form_table bf on (bf.id = ocr.complaint_form and bf.is_deleted = 0)
        left join org_department od on (od.dept_code = ocr.form_dept and od.is_deleted = 0)
        left join org_department odd on (odd.id = od.parent_id and odd.is_deleted = 0)
        where ocr.is_deleted = 0
        <if test="ids != null and ids.size()>0">
            and ocr.id in
            <foreach collection="ids" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </if>
        order by ocr.create_time desc
    </select>
    <select id="selectFormName" resultType="java.lang.String">
        select table_label from bbt_form_table where id = #{id}
    </select>
    <select id="selectTaskName" resultType="java.lang.String">
        select task_name from yj_task where id = #{id}
    </select>
    <select id="selectUserName" resultType="java.lang.String">
        select realname from org_user where id = #{id}
    </select>
</mapper>
