<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carlos.msg.base.mapper.MsgMessageReceiverMapper">
    <resultMap type="com.carlos.msg.base.pojo.entity.MsgMessageReceiver" id="baseMap">
                <id column="id" property="id"/>
                <result column="message_id" property="messageId"/>
                <result column="receiver_id" property="receiverId"/>
                <result column="receiver_number" property="receiverNumber"/>
                <result column="receiver_audience" property="receiverAudience"/>
                <result column="is_read" property="read"/>
                <result column="is_success" property="success"/>
                <result column="create_by" property="createBy"/>
                <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>
