<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carlos.audit.mapper.AuditLogTagsMapper">
  <resultMap type="com.carlos.audit.pojo.entity.AuditLogTags" id="baseMap">
    <id column="id" property="id"/>
    <result column="audit_log_id" property="auditLogId"/>
    <result column="tag_key" property="tagKey"/>
    <result column="tag_value" property="tagValue"/>
    <result column="created_time" property="createdTime"/>
  </resultMap>
</mapper>
