<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carlos.audit.mapper.AuditLogFieldChangeMapper">
  <resultMap type="com.carlos.audit.pojo.entity.AuditLogFieldChange" id="baseMap">
    <id column="id" property="id"/>
    <result column="audit_log_id" property="auditLogId"/>
    <result column="data_change_id" property="dataChangeId"/>
    <result column="field_name" property="fieldName"/>
    <result column="field_desc" property="fieldDesc"/>
    <result column="change_type" property="changeType"/>
    <result column="old_value" property="oldValue"/>
    <result column="old_value_type" property="oldValueType"/>
    <result column="new_value" property="newValue"/>
    <result column="new_value_type" property="newValueType"/>
    <result column="is_sensitive" property="sensitive"/>
    <result column="created_time" property="createdTime"/>
  </resultMap>
</mapper>
